@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*===============
common css statr
 ============== */

* {
    margin: 0px;
    padding: 0px;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    outline: 0;
}

a:hover {
    text-decoration: none;
}

body {
    background: #f8f9fc;
    color: #343a40;
    letter-spacing: 0.2px;
    box-sizing: border-box;
}


/*font-family: 'Mulish', sans-serif;
font-family: 'Roboto', sans-serif;;*/

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
    color: #555;
}

p {
    margin: 0px;
    padding: 0px;
    line-height: 25px;
    color: #777;
    font-family: 'Roboto', sans-serif;
}

a {
    display: inline-block;
    outline: 0;
}

.all_heading_title h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
}


/*===============
 common css end
 ============== */


/*============================
        header_part start
 =========================== */

.menu_icon {
    color: #fff;
    font-size: 19px;
    cursor: pointer;
    transition: all linear .3s;
    -webkit-transition: all linear .5s ease;
    -moz-transition: all linear .5s ease;
    -ms-transition: all linear .5s ease;
    -o-transition: all linear .5s ease;
    text-transform: uppercase;
    font-weight: 600;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    position: relative;
    border-radius: 3px;
    background: rgba(234, 56, 77, 0.753);
}

.side_menu {
    width: 280px;
    height: 100vh;
    background: #393939;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: all linear .3s;
    -webkit-transition: all linear .3s ease;
    -moz-transition: all linear .3s ease;
    -ms-transition: all linear .3s ease;
    -o-transition: all linear .3s ease;
}

.side_menu .close_icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    background: #f21e4e;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: all linear .3s;
    -webkit-transition: all linear .3s ease;
    -moz-transition: all linear .3s ease;
    -ms-transition: all linear .3s ease;
    -o-transition: all linear .3s ease;
    background: rgba(234, 56, 77, 0.753);
}

.side_menu .side_menu {
    text-align: center;
    display: contents;
    width: 100%;
}

.side_menu .side_menu li {
    margin-top: 10px;
}

.side_menu .side_menu li a {
    color: #fff;
    font-weight: 600;
    position: relative;
    transition: 0.5s;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.side_menu .side_menu li a:hover {
    background: #343a40;
}

.side_menu .side_menu li a::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 5%;
    margin-left: 40%;
    background: rgb(221, 36, 118);
    background: linear-gradient(98deg, rgba(221, 36, 118, 1) 0%, rgba(242, 30, 78, 1) 100%);
    left: 0px;
    bottom: 0px;
    transform: scaleX(0);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
}

.side_menu .side_menu li a:hover::after {
    transform: scale(1);
}

.side_menu .side_menu li a:hover,
.side_menu .side_menu li a.active {
    color: #E02370;
}

.side_menu .side_menu li a.active::after {
    transform: scale(1);
}

.menu_hide {
    transform: scaleX(0);
    transform-origin: right;
}

.side_menu.\.menu_show {
    transform: scaleX(1);
}

.side_menu_icon {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.side_menu_icon li {
    margin-right: 20px;
}

.side_menu_icon li:last-child {
    margin-right: 0px;
}

.side_menu_icon li a {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 16px;
}

.side_menu_icon li:nth-child(1) a {
    background: #4268B3;
}

.side_menu_icon li:nth-child(2) a {
    background: #E1003E;
}

.side_menu_icon li:nth-child(3) a {
    background: #50ABF1;
}

.side_menu_icon li:nth-child(4) a {
    background: #0076B4;
}

.side_menu_icon li:nth-child(5) a {
    background: #353535;
}

.side_menu_text {
    margin-top: 42px;
}

.side_menu_text a {
    color: #fff;
    display: flex;
    align-items: center;
}

.side_menu_text p {
    color: #fff;
}

.side_menu_text i {
    width: 25px;
    height: 25px;
    display: inline-block;
    background: #ddd;
    line-height: 25px;
    color: #fff;
    text-align: center;
    margin-right: 10px;
}

.side_menu_call i {
    background: #52BD00;
}

.side_menu_mail i {
    background: #D44337;
    padding: 0 5px;
}

.side_menu_add i {
    float: left;
    background: #228AE7;
}

.side_menu_call,
.side_menu_mail,
.side_menu_add {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


/* menu-fix */

.menu-fix {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    background: #f8f8f8;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 0px;
    padding: .1rem .5rem!important;
}


/*============================
        header_part end
 =========================== */


/*============================
        baneer_part start
 =========================== */

#banner_part {
    background-repeat: no-repeat center !important;
    background-size: cover !important;
    background-attachment: fixed;
    padding: 65px 50px;
    position: relative;
    /* clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0 75%, 0 0); */
    z-index: 1;
}

#banner_part::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.4);
    z-index: -1;
}

.banner_show_image {
    width: 250px;
    position: relative;
}

.banner_show_image img {
    margin-top: 5px;
}

.banner_image_border1 {
    background: transparent;
    width: 260px;
    height: 350px;
    border: 3px solid #1289A7;
    position: absolute;
    top: -2%;
    left: -7px;
    z-index: -1;
}

.banner_image_border2 {
    background: transparent;
    width: 260px;
    height: 350px;
    border: 3px solid #1289A7;
    position: absolute;
    top: 0%;
    left: -2px;
    z-index: -1;
}

.ah-headline span b {
    color: rgba(234, 56, 77, 0.753);
}


/* .banner_image_border1::after{
    position: absolute;
    animation: animi_1;
    -webkit-animation: animi_1;
}
.banner_image_border2::before{
    position: absolute;
    animation: animi_2;
    -webkit-animation: animi_2;
}
@keyframes animi_1 {
    
    0%{
       top: 0px;
        left: 0;
    }   
    
    25%{
        top: 0px;
        left: 96.5%;
    } 
    
    50%{
        top: 97.5%;
        left: 96.5%;
    } 
    
    75%{
        top: 97.5%; 
        left: 0%;  
    }
        
    100%{
        top: 0px;
        left: 0%; 
    }
}

@keyframes animi_2 {
    
    0%{
       bottom: 0%;
        right: 0%;
    }   
    
    25%{
        bottom: 0%;
        right: 96.3%;
    } 
    
    50%{
        bottom: 97.3%;
        right: 96.3%;
    } 
    
    75%{
        bottom: 97.3%; 
        right: 0%;  
    }
        
    100%{
        bottom: 0%;
        right: 0%; 
    }
} */

.banner_text {
    color: #fff;
}

.banner_text h3 {
    text-transform: uppercase;
}

.banner_text h1 {
    text-transform: uppercase;
}

.banner_btn a {
    color: #fff;
    text-transform: uppercase;
    background: rgba(234, 56, 77, 0.753);
    padding: 8px 15px;
    margin-right: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 10px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.banner_btn a:hover {
    background: #343a40
}

.banner_btn a span {
    margin-left: 5px;
}

.banner-text p {
    margin-bottom: 3px;
    font-weight: 600;
}

.banner-text h4 {
    color: #ED1B35;
    margin-top: 21px;
    margin: 0px;
    margin-bottom: 12px;
    background: linear-gradient(#ff5859 20%, #f857a6 100%);
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.ah-headline.clip .ah-words-wrapper::after {
    background-color: #ED1B35;
}


/*============================
        baneer_part end
 =========================== */


/*============================
        about_part start
 =========================== */

#about_part {
    padding: 40px 0;
    background: #f1f1f1;
}

#about_part .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #343a40;
}


/* .about_part_image{
     position:relative;
 }
 .about_part_image img {
	width: 70%;
	height: 350px;
	border: 3px solid #EE5A24;
	padding: 5px;
}
.about_main_banner_text h3{
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about_main_banner_text p{
    font-size: 17px;
    line-height: 32px;
}
.about_image_border {
	background: transparent;
	width: 285px;
	height: 300px;
	border: 3px solid #1289A7;
	position: absolute;
	top: 2%;
	left: 5px;
	z-index: -1;
} */

.about_img_details img {
    height: 270px;
    border: 3px solid rgba(234, 56, 77, 0.753);
    padding: 2px
}

.about_text h5 {
    text-transform: capitalize;
    font-size: 25px;
    margin-top: 10px;
    line-height: 30px;
}

.about_text .description {
    font-size: 15px;
    line-height: 27px;
}

.about_all_btn .nav-link {
    color: #fff;
    background: rgba(234, 56, 77, 0.753);
    text-transform: uppercase;
    border-radius: 5px;
}

.about_all_btn .nav-link span {
    margin-left: 5px;
}

.my_cv a {
    color: #fff;
    text-transform: uppercase;
    background: rgba(234, 56, 77, 0.753);
    padding: 8px 15px;
    margin-right: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 25px;
}

.my_cv a span {
    margin-left: 5px;
}

.education_clip {
    display: flex;
    width: 550px;
    height: 200px;
    /* background: rgba(234, 32, 39, 0.75); */
    background: #fff;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px #12CBC4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.education_clip:hover {
    background: rgba(234, 32, 39, 0.75);
}

.education_clip:hover h6,
.education_clip:hover p,
.education_clip:hover i,
.education_clip:hover .education_icon i {
    color: #fff;
}

.education_clip .education_heading h6 {
    font-size: 22px;
    text-transform: capitalize;
    margin-top: 20px;
    background: rgba(234, 32, 39, 0.75);
    color: #fff;
    padding: 5px 0;
    padding-left: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    /* margin-left: -12px; */
}

.education_clip:hover .education_heading h6 {
    background: #fff;
    color: rgba(234, 32, 39, 0.75);
}

.education_clip .education_icon i {
    font-size: 50px;
    color: #e7e7e7;
    margin-left: 50%;
    margin-top: 20px;
}

.education_icon2 i {
    font-size: 40px;
    color: #777;
    margin-left: 90%;
}

.education_heading2 h6 {
    font-size: 20px;
    text-transform: capitalize;
}

.education_heading2 p {
    color: #999;
}

#about_part .common_bttn {
    background: rgba(234, 32, 39, 0.75);
    color: #fff;
    font-weight: 500;
    margin-top: 10px;
}

#about_part .common_bttn:hover {
    background: #343a40;
}


/*============================
        about_part end
 =========================== */


/*============================
        skills_part start
 =========================== */

#skill_part {
    padding: 40px 0;
}

.my_all_skills label {
    font-weight: 600;
}


/*============================
        skills_part end
 =========================== */


/*============================
        service_part start
 =========================== */

#service_part {
    background: #f1f1f1;
    padding: 40px 0;
}

.service_details {
    padding: 20px 30px;
    height: 210px;
    background: #fff;
    border-radius: 5px;
    margin-top: 30px;
    position: relative;
    z-index: 1;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 0px;
    overflow: hidden;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
}

.service_details::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    top: 0;
    left: 0;
    border-bottom-left-radius: 50%;
    z-index: -1;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    background: rgba(234, 32, 39, 0.75);
}

.icon_one {
    font-size: 40px;
    color: #f2f2f2;
    margin-top: -10px;
    margin-left: -85%;
}

.icon_two {
    margin-top: -70px;
    font-size: 50px;
    color: rgba(234, 32, 39, 0.75);
}

.service_details:hover .icon_one {
    color: transparent;
}

.service_details:hover .icon_two {
    color: #fff;
}

.service_details h4 {
    font-size: 20px;
    margin: 0px;
    margin-top: -10px;
    font-weight: 700;
    text-transform: capitalize;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    color: #555;
}

.service-details p {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
}

.service_details:hover::after {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.service_details:hover h4,
.service_details:hover p {
    color: #fff;
}


/*============================
        service_part end
 =========================== */


/*============================
        team_part start
 =========================== */

#team_Part {
    padding: 40px 0;
}

.team_details {
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-top: 40px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 0px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s ease;
    -moz-transition: all linear .3s ease;
    -ms-transition: all linear .3s ease;
    -o-transition: all linear .3s ease;
    margin-right: 15px;
    margin-left: 15px;
}

.team_social {
    margin-left: -10px;
}

.team_member_image {
    position: relative;
    padding-bottom: 0;
    padding: 30px 0px 20px 0px;
    z-index: 1;
}

.team_member_image::after {
    position: absolute;
    content: "";
    background: rgba(234, 32, 39, 0.75);
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    z-index: -1;
}

.team_member_image img {
    border: 2px solid #eee;
    padding: 5px;
    position: relative;
    margin-top: -10px;
    width: 150px !important;
    height: 170px;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    overflow: hidden;
}

.team_text h4 {
    text-transform: capitalize;
    text-align: center;
}

.team_text p {
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
}

.team_social ul {
    display: flex;
    margin-top: 10px;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.team_social ul li {
    font-size: 20px;
    margin-left: 19px;
}

.team_social ul li .one i {
    background: #4268b3;
    color: #fff;
    padding: 5px 8px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.team_social ul li .two i {
    background: #e1003e;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.team_social ul li .three i {
    background: #0076b4;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.team_social ul li .four i {
    background: #fbbc04;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.prv_arr {
    width: 30px;
    height: 30px;
    background: rgba(234, 32, 39, 0.75);
    text-align: center;
    line-height: 30px !important;
    color: #fff;
    font-size: 20px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 99;
    border-radius: 3px;
}

.nxt_arr {
    width: 30px;
    height: 30px;
    background: rgba(234, 32, 39, 0.75);
    text-align: center;
    line-height: 30px !important;
    color: #fff;
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 99;
    border-radius: 3px;
}


/*============================
        team_part end
 =========================== */


/*============================
        work_review start
 =========================== */

#work_review {
    background-repeat: no-repeat center !important;
    background-size: cover !important;
    background-attachment: fixed;
    padding: 60px 0;
    position: relative;
    z-index: 1;
}

#work_review::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.work_review_item {
    position: relative;
}

.work_review_item .plus_add::after {
    position: absolute;
    content: "+";
}

.work_review_item .review_item i {
    font-size: 25px;
    color: rgba(234, 32, 39, 0.75);
    margin-left: 5px;
}

.work_review_item p {
    color: rgba(234, 32, 39, 0.75);
    font-size: 25px;
    margin: 7px 10px;
    font-weight: 700;
}

.work_review_item h4 {
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
}


/*============================
        work_review end
 =========================== */


/*============================
        clients_review start
 =========================== */

#clients_review {
    position: relative;
    padding: 40px 0;
}

.clients_review_content {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 0px;
    padding: 25px;
    border-radius: 5px;
    margin: 50px 20px 5px 20px;
    border-left: 3px solid #F11E51;
    border-right: 3px solid #F11E51;
}

.clienys_review_image img {
    width: 100px;
    height: 100px;
    padding: 3px;
    border: 3px solid red;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    margin-top: -60px;
}

.clienys_review_image h5 {
    text-align: center;
    margin-top: 40px;
    text-transform: capitalize;
    margin-top: 20px;
}

.clienys_review_image p {
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 30px;
}

.clienys_review_text p {
    text-align: center;
}

.clienys_review_text p i {
    color: #F11E51
}

.clients_review_rate {
    text-align: center;
    color: #f1721e
}

#clients_review .slick-dots {
    position: absolute;
    left: 50%;
    bottom: -35px;
    transform: translateX(-50%);
    display: flex;
}

#clients_review .slick-dots li button {
    font-size: 0;
    width: 10px;
    height: 7px;
    background: transparent;
    border: 1px solid #d51010;
    border-radius: 10px;
    margin: 0 5px;
    outline: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s ease;
    -moz-transition: all linear .3s ease;
    -ms-transition: all linear .3s ease;
    -o-transition: all linear .3s ease;
}

#clients_review .slick-dots li.slick-active button {
    background: #d35e5e;
    border-color: #d51010;
    width: 25px;
    height: 7px;
    border-radius: 10px;
}


/*============================
        clients_review end
 =========================== */


/*============================
        portfolio_part start
 =========================== */

#my_portfolio {
    background: #f1f1f1;
    padding: 40px 0;
}

.filter_list_item {
    margin-bottom: 30px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 0px;
}

.filter_list_item:hover.filter_list_item .portfolio_images a {
    opacity: 1;
}

.filter_list_item .portfolio_images a {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    background: rgba(234, 32, 39, 0.75);
    height: 25px;
    width: 100%;
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.filter_list_item .portfolio_images a span {
    font-size: 15px;
    margin-left: 5px;
}

.common_btn {
    background: rgba(234, 32, 39, 0.75);
    color: #fff;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 25px;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 30px;
}

#my_portfolio .common_btn.active {
    background: #343a40;
}

#my_portfolio .common_btn:hover {
    background: #343a40;
}


/*============================
        portfolio_part end
 =========================== */


/*============================
        contact_part start
 =========================== */

#contact_me {
    padding: 40px 0;
}

#contact_me h4 {
    margin-bottom: 25px;
}

#contact_me .form-group span i {
    color: #f21e4e;
}

.con_top_text {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.con_top_text::after {
    position: absolute;
    content: "";
    background: rgba(234, 32, 39, 0.75);
    width: 50%;
    height: 2px;
    bottom: 0;
    left: 0;
}

.contact_text {
    padding: 17px;
    background: #fff;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 0px;
    position: relative;
    border-top-right-radius: 15px;
}

.contact_text h5 {
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 16px;
    padding-bottom: 3px;
    position: relative;
}

.contact_text h5::after {
    position: absolute;
    content: '';
    background: rgba(234, 32, 39, 0.75);
    width: 20%;
    height: 1px;
    left: 0;
    bottom: 0;
}

.contact_text h5 i {
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 31px;
    border-radius: 50%;
    position: relative;
    float: right;
    margin-top: -5px;
    margin-right: -5px;
    z-index: 1;
    background: rgb(221, 36, 118);
    background: linear-gradient(98deg, rgba(221, 36, 118, 1) 0%, rgba(234, 32, 39, 0.75) 100%);
}

.contact_text h5 i::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    animation: icon_animi 1.5s infinite;
    background: rgb(221, 36, 118);
    background: linear-gradient(98deg, rgba(221, 36, 118, 1) 0%, rgba(234, 32, 39, 0.75) 100%);
    z-index: -1;
}

@keyframes icon_animi {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.7);
        opacity: 0;
    }
}

.contact_text a {
    display: block;
    color: #555;
    font-weight: 600;
    transition: all linear .3s;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    font-size: 15px;
}

.contact_text a:hover {
    color: rgba(234, 32, 39, 0.75);
}

.contact_text p {
    text-transform: capitalize;
    color: #555;
    font-weight: 500;
    margin-bottom: -2px;
    font-size: 14px;
}

.form-group {
    margin-bottom: 30px;
}

.input-group-text {
    background-color: #fff;
    width: 50px;
    border-radius: 0 !important;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 0px;
    height: 50px;
}

.input-group-text.two {
    height: 130px;
}

#contact .form-group span i {
    color: rgba(234, 32, 39, 0.75);
}

.form-control.form-control-lg {
    font-size: 15px;
    background: #fff;
    padding: 12px 10px;
    border-color: #ddd;
    color: #555;
    border-radius: 0;
    resize: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 0px;
    border: none;
    border-left: 1px solid #ddd;
}

.contact_fax_top h4 {
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.contact_fax_top h4::after {
    position: absolute;
    content: "";
    background: rgba(234, 32, 39, 0.75);
    width: 65px;
    height: 2px;
    bottom: 0;
    left: 12px;
}

.contact_text {
    background: #f1f1f1;
    box-shadow: 2px 4px 6px 8px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
}

.contact_text:last-child {
    margin-bottom: 0px;
}

.contact_text h5 {
    text-transform: capitalize;
    font-weight: 500;
    margin: 8px 0;
    position: relative;
}

.contact_text h5::after {
    position: absolute;
    content: '';
    bottom: -2px;
    left: 0;
    background: rgba(234, 32, 39, 0.75);
    width: 25%;
    height: 1px;
}

.contact_text h5 i {
    position: absolute;
    color: #fff;
    font-size: 15px;
    top: 0;
    right: 0;
    background: rgba(234, 32, 39, 0.75);
    padding: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    line-height: 22px;
}

.contact_text a {
    color: #222;
}

.contact_text a:first-child {
    margin-top: 0px;
}

.contact_text .mail {
    font-size: 14px;
}

.clients_form_option {
    margin-left: 20px;
}

.input_lg {
    display: flex;
    box-shadow: 2px 4px 6px 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 50px;
}

.input_main {
    background: rgba(0, 0, 0, 0.15);
    color: #fff;
    width: 30px;
}

.input_main span i {
    margin-top: 15px;
    margin-left: 6px;
    padding-right: 10px;
}

.input_box input {
    background: #fff;
    border: none;
    height: 50px;
    width: 100%;
}

.my_area {
    padding: 5px;
    overflow: hidden;
    /* transform: translateX(2%) ;
    -webkit-transform: translateX(2%) ;
    -moz-transform: translateX(2%) ;
    -ms-transform: translateX(2%) ;
    -o-transform: translateX(2%) ; */
    margin-left: 20px;
}

.my_area iframe {
    height: 370px;
}

.con_sub_btn {
    background: rgba(234, 32, 39, 0.75);
    color: #fff;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 10px;
}


/*============================
        contact_part end
 =========================== */


/*============================
        footer_part start
 =========================== */

.footer_main_links ul li {
    display: flex
}

.footer_image {
    margin-bottom: 20px;
}

.facebook_page_image img {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.footer_head h4 {
    text-transform: capitalize;
    margin-bottom: 20px;
}

.footer_main_links ul li a {
    text-transform: capitalize;
    color: #777;
    font-weight: 500;
    position: relative;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.footer_main_links ul li a::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    background: rgba(234, 32, 39, 0.75);
    height: 2px;
    width: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.footer_main_links ul li a:hover {
    margin-left: 5px;
    color: rgba(234, 32, 39, 0.75);
}

.footer_main_links ul li a:hover::after {
    width: 100%;
}

.copyright p {
    background: #393939;
    color: #fff;
}

.copyright p a {
    color: rgba(234, 32, 39, 0.75);
}


/*============================
        footer_part end
 =========================== */


/*============================
        window_button start
 =========================== */

.window_icon_button {
    position: fixed;
    left: 0;
    top: 50%;
    z-index: 99;
    cursor: pointer;
}

.icon_list.\.menu_slide {
    margin-left: -62px;
}

#arrow_icon.\.btn_roatet {
    transform: rotateY(180deg);
}

.window_button_menu i {
    color: #fff;
    background: #555;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-top-right-radius: 5px;
    display: inline-block;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    padding-left: 5px;
}

.icon_list {
    transition: all linear ease .3s;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    margin-left: -32px;
}

.icon_list li a {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 16px;
    transition: all linear .3s;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.icon_list li a:hover {
    padding-left: 10px;
    width: 40px;
}

.icon_list li:nth-child(1) a {
    background: #4268b3;
}

.icon_list li:nth-child(2) a {
    background: #e1003e;
}

.icon_list li:nth-child(3) a {
    background: #0076b4;
}

.icon_list li:nth-child(4) a {
    background: #fbbc04;
    border-bottom-right-radius: 5px;
}


/*============================
        window_button end
 =========================== */


/*============================
        scroll_bttn start
 =========================== */

.scroll-to-top {
    position: fixed;
    bottom: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 38px;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    border-radius: 10px;
    background: rgba(234, 32, 39, 0.75);
    display: none;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.scroll-to-top.show {
    bottom: 30px;
    pointer-events: auto;
    opacity: 1;
}

.scroll-to-top:hover {
    color: #fff;
    background: #343a40;
}


/*============================
        scroll_bttn end
 =========================== */